build/
cmake-build-*/
out/
.vs/
.vscode/
.idea/

*.exe
*.dll
*.pdb
*.obj
*.ilk
*.lib
*.exp
*.a
*.so
*.dylib

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

*.log
*.tmp
